[*.cs]

# SonarLint

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = none

# S1135: Track uses of "TODO" tags
dotnet_diagnostic.S1135.severity = none

# S1075: URIs should not be hardcoded
dotnet_diagnostic.S1075.severity = suggestion

# dotnet

# IDE0060: 删除未使用的参数
dotnet_diagnostic.IDE0060.severity = warning
